<div class="header-image">
    <img src="{{ imagePath }}">
    {% if page is not defined or page is defined and page.code != 'inschrijven' %}
        {% include "website/general/_signup-button.html.twig" %}
    {% endif %}
</div>
