{% set menu = getMenu(code) %}
{% if menu %}
    <ul class="menu">
        {% for item in menu.items %}
            <li class="menu-item"><a href="{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
