<div class="form inschrijven-form">
    {{ form_start(form) }}

    <div class="errors">
        {{ form_errors(form) }}
    </div>

    {% include 'website/forms/_input.html.twig' with {field: form.name} %}
    {% include 'website/forms/_input.html.twig' with {field: form.address} %}
    {% include 'website/forms/_input.html.twig' with {field: form.city} %}
    {% include 'website/forms/_input.html.twig' with {field: form.postal_code} %}
    {% include 'website/forms/_input.html.twig' with {field: form.phone} %}
    {% include 'website/forms/_input.html.twig' with {field: form.email} %}
    <input type="email" class="email-check" name="contact_form_email_check" value="">
    {% include 'website/forms/_input.html.twig' with {field: form.reference} %}
    {% include 'website/forms/_input.html.twig' with {field: form.complaints} %}

    <button type="submit" class="btn btn-send">Versturen</button>

    {{ form_end(form) }}
</div>
