.navigation {
  width: 100%;
  height: $navigationHeight;
  background-color: $pink;
  border-bottom: 5px solid $purple;

  .navigation-positioning {
    width: 1450px;
    margin: 0 auto;
  }

  .logo {
    float: left;
  }

  .menu {
    float: right;

    .menu-item {
      display: inline-block;
      line-height: $navigationHeight;
      margin-left: 50px;
      font-weight: 700;

      a {
        color: $purple;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}
