.navigation {
  width: 100%;
  height: $navigationHeight;
  background-color: $pink;
  border-bottom: 5px solid $purple;

  .navigation-positioning {
    max-width: 1450px;
    margin: 0 auto;
  }

  .logo {
    float: left;
  }

  .menu {
    float: right;

    .menu-item {
      position: relative;
      display: inline-block;
      line-height: $navigationHeight;
      margin-left: 50px;
      font-weight: 700;
      color: $purple;
      cursor: pointer;

      &:hover {
        color: $orange;

        .submenu {
          display: block;
        }
      }

      a {
        color: $purple;

        &:hover {
          color: $orange;
        }
      }
    }

    .active {
      color: $orange;

      &> a {
        color: $orange;
      }
    }

    .submenu {
      display: none;
      z-index: 10;
      position: absolute;
      left: -15px;
      top: $navigationHeight;
      background-color: $pink;
      padding: 0 20px 10px;
      border-left: 5px solid $purple;
      border-right: 5px solid $purple;
      border-bottom: 5px solid $purple;

      .submenu-item {
        line-height: initial;
        padding: 18px 20px;
        display: block;
        border-bottom: 1px solid #C2AAC6;

        &:last-of-type {
          border: none;
        }

        a {
          display: block;
        }
      }
    }
  }

  .mobile-menu {
    display: none;
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;

    .burger div {
      width: 30px;
      height: 4px;
      background-color: $purple;
      margin: 3px 0;
      border: 1px solid $purple;
      border-radius: 5px;
    }

    .menu {
      display: none;
      position: absolute;
      right: -25px;
      top: 40px;
      border-left: 5px solid $purple;
      border-bottom: 5px solid $purple;
      z-index: 1;

      .menu-item {
        display: block;
        z-index: 1;
        background-color: $pink;
        margin: 0 auto;
        padding: 0 20px;
        line-height: 50px;

        .submenu {
          display: block;
          position: relative;
          border: none;
          padding: 0;
          left: -20px;
          top: 0;

          .submenu-item {
            padding: 0 20px;
            line-height: 50px;
            border: none;
          }
        }
      }
    }
  }
}
