.navigation {
  width: 100%;
  height: $navigationHeight;
  background-color: $pink;
  border-bottom: 5px solid $purple;

  .navigation-positioning {
    width: 1450px;
    margin: 0 auto;
  }

  .logo {
    float: left;
  }

  .menu {
    float: right;

    .menu-item {
      position: relative;
      display: inline-block;
      line-height: $navigationHeight;
      margin-left: 50px;
      font-weight: 700;
      color: $purple;
      cursor: pointer;

      &:hover {
        color: $orange;

        .submenu {
          display: block;
        }
      }

      a {
        color: $purple;

        &:hover {
          color: $orange;
        }
      }
    }

    .active {
      color: $orange;

      &> a {
        color: $orange;
      }
    }

    .submenu {
      display: none;
      z-index: 10;
      position: absolute;
      left: -15px;
      top: $navigationHeight;
      background-color: $pink;
      padding: 0 20px 10px;
      border-left: 5px solid $purple;
      border-right: 5px solid $purple;
      border-bottom: 5px solid $purple;

      .submenu-item {
        line-height: initial;
        padding: 18px 20px;
        display: block;
        border-bottom: 1px solid #C2AAC6;

        &:last-of-type {
          border: none;
        }

        a {
          display: block;
        }
      }
    }
  }
}
