{% extends 'admin/general/base.html.twig' %}

{% block title %}Add new administrator{% endblock %}

{% block body %}
	<div class="heading">
		<div class="actions">
			<a class="back-button" href="{{ path('admin_administrator_overview') }}">Back to overview</a>
		</div>
		<h1>Add new administrator</h1>
	</div>

    <div class="form">
		{{ form_start(form) }}
		    <div class="errors">
		        {{ form_errors(form) }}
		    </div>

		    {% include 'admin/forms/input.html.twig' with {field: form.email} %}
		    {% include 'admin/forms/input.html.twig' with {field: form.plainPassword} %}

		    <button type="submit" class="save">Save</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
